<!DOCTYPE html>
<html>
  <head>
    <title>Strawpoll</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://cdnjs.cloudflare.com/css?family=Raleway:400,100,200,300,500,700,800,900" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.bundle.min.js"></script>
    <meta name="viewport" content="initial-scale=1", maximum-scale="1">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <header>
      <h1>Straw Poll</h1>
    </header>
    <main>
      <%= react_component 'App',
                          :userParticipated => user_participated?,
                          :pollContext => 'new',
                          :pollId => 0
      %>
      <section id="chart-container">
        <canvas id="pie-chart"></canvas>
      </section>
    </main>

  </body>
</html>
